.h-sobre{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}.l-sobre{
  position: absolute;
  right: 80px;
}
@media screen and (max-width:768px){

    .l-sobre{
      
        position: absolute;
        left: 85px;
        
    }
    .f-sobre img{
       margin: 110px 130px;
      
        width: 120px;
        height: 120px;
    }
    h1{
        font-size: 28px;
        position: absolute;
        left: -100px;
        top: 350px;
    }
    .p-sobre{
       margin-left: 25px;
       text-align: center;
       margin: auto;
       width: 90vw;
    }
}